{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
<div class="text-white mr-6">
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home" class="flex items-center transition-opacity duration-300 no-underline hover:opacity-90 hover:no-underline" alt="{{site_name}}">
      <img src="{{site_logo}}" />
    </a>
  {% endif %}
  
 </div>  
{% endblock %}