@tailwind base;
@tailwind components;
@tailwind utilities;

/* Break up */
.breadcrumb .breadcrumb-item:not(:last-child):after {
  content: ' > ';
}

@layer components {
  code {
    @apply bg-gray-100;
  }
}

html {
  font-size: 115.6%;
}

.h-underline {
  position: relative;
}
.h-underline::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 50%;
  display: block;
  max-width: 60px;
  margin-top: 8px;  
  @apply bg-yellow-400;
}

.header-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
body.toolbar-tray-open.toolbar-horizontal .header-wrapper {
  top:79px;
}

.header-wrapper .button--primary {
  background-color: #e75a7c;
  border-color: #e75a7c;
  color: #fff;
}

.wsmainfull {
  padding: 20px 0;
  background-color: transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
    -webkit-transition: all 450ms ease-in-out;
  -moz-transition: all 450ms ease-in-out;
  -o-transition: all 450ms ease-in-out;
  -ms-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.wsmainfull .logo-light {
  display: none;
}
.wsmainfull .logo-dark {
  display: block;
}

.wsmainfull.scroll {
  padding: 0;
  background-color: rgba(255, 255, 255, .7) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -webkit-box-shadow: 0 2px 3px rgba(96, 96, 96, .1);
  -moz-box-shadow: 0 2px 3px rgba(96, 96, 96, .1);
  box-shadow: 0 2px 3px rgba(96, 96, 96, .1);
}

.wsmainfull.scroll .logo-light {
  display: block;
}
.wsmainfull.scroll .logo-dark {
  display: none;
}

.wsmainwp {
  padding: 0 15px;
  position: relative;
}


.wsmainwp li > a {
  font-family: 'Plus Jakarta Sans', sans-serif;
  display: block;
  font-size: 0.9375rem;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: none;
  margin: 0 7px;
  padding: 10px 15px;
  color: #fff;
}
.wsmainfull.scroll .wsmainwp li > a {
  color: #353f4f;
}

section.hero-section, section.hero-section .container {
  position: relative;
  z-index: 3;
}

/* todo: media queries */
section.hero-section .container {
  padding-top: 130px;
  padding-bottom: 100px;
}

.homepage-hero-background {
  padding-top: 130px;
  padding-bottom: 100px;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  position: absolute;
  height: 100%;
      
  background-attachment: fixed !important;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 3;
}
.hero-clippy-svg,
.orange_triangle_shape_svg__hero-clippy-svg {
    position: absolute;
    top: 0;
    width: 70%;
    height: 100%;
    opacity: .75;
    z-index: 3;
}

.admin-link--edit--node {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 20px;
  text-decoration: underline;
  text-transform: capitalize;
  opacity: .3;
  border: 1px dashed lime;
  background-color: white;
  color: lime;
  z-index: 999;
}
.admin-link--edit--node:hover {
  opacity: 1;
}